
// Variables
//
// This file contains variables that are used to normalize the values used in
// Xola home view.

$xola-default-fonts: Helvetica, Arial, sans-serif;
$xola-default-font-size: 16px;
$xola-defalt-text-color: #393939;
$xola-default-background-color: #fff;

// Color palette

$xola-section-heading-text-color: #9297a3;
$xola-section-heading-bg-color: #25aae2;
$xola-navbar-color: #797979;
$xola-navbar-border-color: #797979 !important;

//button bg colors
$xola-btn-info-bg: #1b95c9 !important;
$xola-btn-warning-bg: #eaa10f !important;
$xola-btn-success-bg: #70a131 !important;
$xola-btn-danger-bg: #c64125 !important;
