
// Xola typography
//
// This is the banner and sub sections shown in xola website.
//
// Styleguide 1.0

// Banner card
//
// Xola banner card has
//
// Banner &lt;div&gt;  container with background image wrapping a bootstrap responsive fixed width container which wraps the title &lt;h1&gt; and parapgraph &lt;p&gt;
//
// Content inside &lt;h1&gt; and &lt;p&gt; are rendered using web font "Maven Pro Light 300"
//
// <table class="table">
// 	<caption><b>&lt;h1&gt; content was rendered using these css properties</b></caption>
// 	<thead>
// 		<tr> <th>#</th> <th>CSS Properties</th> <th>Values</th>
// 		</tr>
// 	</thead>
// 	<tbody>
// 		<tr> <th scope="row">1</th> <td>font-family</td> <td>"Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif</td> </tr>
// 		<tr> <th scope="row">2</th> <td>font-size</td> <td>80px</td> </tr>
// 		<tr> <th scope="row">3</th> <td>font-style</td> <td>normal</td> </tr>
// 		<tr> <th scope="row">4</th> <td>font-weight</td> <td>300</td> </tr>
// 		<tr> <th scope="row">5</th> <td>box-sizing</td> <td>border-box</td> </tr>
// 		<tr> <th scope="row">6</th> <td>color</td> <td>#fff</td> </tr>
// 		<tr> <th scope="row">7</th> <td>display</td> <td>block</td> </tr>
// 		<tr> <th scope="row">8</th> <td>line-height</td> <td>1.1</td> </tr>
// 		<tr> <th scope="row">9</th> <td>margin-top</td> <td>23px</td> </tr>
// 		<tr> <th scope="row">10</th> <td>margin-bottom</td> <td>11.5px</td> </tr>
// 		<tr> <th scope="row">11</th> <td>text-align</td> <td>center</td> </tr>
// 		<tr> <th scope="row">12</th> <td>text-shadow</td> <td>rgba(0, 0, 0, 0.4) 1px 1px 2px</td> </tr>
// 		<tr> <th scope="row">13</th> <td>text-transform</td> <td>uppercase</td> </tr>
// 		<tr> <th scope="row">14</th> <td>white-space</td> <td>normal</td> </tr>
// 	</tbody>
// </table>
// <br>
//
// <table class="table">
// 	<caption><b>&lt;p&gt; content was rendered using these css properties</b></caption>
// 	<thead>
// 		<tr> <th>#</th> <th>CSS Properties</th> <th>Values</th>
// 		</tr>
// 	</thead>
// 	<tbody>
// 		<tr> <th scope="row">1</th> <td>font-family</td> <td>"Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif</td> </tr>
// 		<tr> <th scope="row">2</th> <td>font-size</td> <td>29px</td> </tr>
// 		<tr> <th scope="row">3</th> <td>font-style</td> <td>normal</td> </tr>
// 		<tr> <th scope="row">4</th> <td>font-weight</td> <td>normal</td> </tr>
// 		<tr> <th scope="row">5</th> <td>box-sizing</td> <td>border-box</td> </tr>
// 		<tr> <th scope="row">6</th> <td>color</td> <td>#fff</td> </tr>
// 		<tr> <th scope="row">7</th> <td>display</td> <td>block</td> </tr>
// 		<tr> <th scope="row">8</th> <td>line-height</td> <td>1.2</td> </tr>
// 		<tr> <th scope="row">9</th> <td>margin-bottom</td> <td>11.5px</td> </tr>
// 		<tr> <th scope="row">10</th> <td>text-align</td> <td>center</td> </tr>
// 		<tr> <th scope="row">11</th> <td>text-shadow</td> <td>rgba(0, 0, 0, 0.4) 1px 1px 2px</td> </tr>
// 		<tr> <th scope="row">12</th> <td>text-transform</td> <td>uppercase</td> </tr>
// 		<tr> <th scope="row">13</th> <td>white-space</td> <td>normal</td> </tr>
// 	</tbody>
// </table>
//
// markup:
//<div id="banner" class="visual video-block" style="background-image: url(/images/banners/hot-air-balloon.png);">
//     <div class="container">
//         <h1>BOOKING &amp; MARKETING SOFTWARE</h1>
//         <p>Built for businesses offering tours and activities</p>
//     </div>
//</div>
//
// Styleguide 1.1
.visual h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: #666;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 23px;
    margin-bottom: 11.5px;
}

.visual .container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    white-space: normal;
    max-height: 100%;
    overflow-y: auto;
}

.visual {
    height: 600px;
    white-space: nowrap;
    text-align: center;
    font: 29px/1.2 "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    padding: 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    background-color: #666;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

// Mobile section
//
// Xola mobile section has
//
// section header &lt;header&gt;  container wrapping a bootstrap responsive fixed width container which wraps the title &lt;h2&gt; and parapgraph &lt;p&gt;
//
// Content inside &lt;h2&gt; are rendered using web font "Maven Pro Light 300" whereas &lt;p&gt; content are rendered using local Arial font
//
// <table class="table">
// 	<caption><b>&lt;h2&gt; content was rendered using these css properties</b></caption>
// 	<thead>
// 		<tr> <th>#</th> <th>CSS Properties</th> <th>Values</th>
// 		</tr>
// 	</thead>
// 	<tbody>
// 		<tr> <th scope="row">1</th> <td>font-family</td> <td>"Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif</td> </tr>
// 		<tr> <th scope="row">2</th> <td>font-size</td> <td>64px</td> </tr>
// 		<tr> <th scope="row">3</th> <td>font-style</td> <td>normal</td> </tr>
// 		<tr> <th scope="row">4</th> <td>font-weight</td> <td>300</td> </tr>
// 		<tr> <th scope="row">5</th> <td>box-sizing</td> <td>border-box</td> </tr>
// 		<tr> <th scope="row">6</th> <td>color</td> <td>#333743</td> </tr>
// 		<tr> <th scope="row">7</th> <td>display</td> <td>block</td> </tr>
// 		<tr> <th scope="row">8</th> <td>line-height</td> <td>1.1</td> </tr>
// 		<tr> <th scope="row">9</th> <td>margin-bottom</td> <td>10px</td> </tr>
// 		<tr> <th scope="row">10</th> <td>text-align</td> <td>center</td> </tr>
// 	</tbody>
// </table>
//<br>
//
// <table class="table">
// 	<caption><b>&lt;p&gt; content was rendered using these css properties</b></caption>
// 	<thead>
// 		<tr> <th>#</th> <th>CSS Properties</th> <th>Values</th>
// 		</tr>
// 	</thead>
// 	<tbody>
// 		<tr> <th scope="row">1</th> <td>font-family</td> <td>Helvetica, Arial, sans-serif</td> </tr>
// 		<tr> <th scope="row">2</th> <td>font-size</td> <td>18px</td> </tr>
// 		<tr> <th scope="row">3</th> <td>font-style</td> <td>normal</td> </tr>
// 		<tr> <th scope="row">4</th> <td>font-weight</td> <td>normal</td> </tr>
// 		<tr> <th scope="row">5</th> <td>box-sizing</td> <td>border-box</td> </tr>
// 		<tr> <th scope="row">6</th> <td>color</td> <td>#9297a3</td> </tr>
// 		<tr> <th scope="row">7</th> <td>display</td> <td>block</td> </tr>
// 		<tr> <th scope="row">8</th> <td>line-height</td> <td>1.22</td> </tr>
// 		<tr> <th scope="row">9</th> <td>margin-bottom</td> <td>11.5px</td> </tr>
// 		<tr> <th scope="row">10</th> <td>text-align</td> <td>center</td> </tr>
// 	</tbody>
// </table>
//
// markup:
//<div id="content">
// <section class="section">
//     <header class="section-heading text-center">
//         <div class="container">
//             <h2>Mobile</h2>
//             <p>Run your business on the go.<br>Whenever. Wherever.</p>
//         </div>
//     </header>
//     <div class="container">
//         <div class="parallax-block">
//             <img class="ipad" src="/images/home/ipad.png" height="500" width="810" alt="" data-top-bottom="transform:translateY(-20%) rotate(-2deg);" data-bottom-top="transform:translateY(20%) rotate(2deg);">
//             <img class="iphone" src="/images/home/iphone.png" height="472" width="329" alt="" data-top-bottom="transform:translateY(-25%) rotate(3deg);" data-bottom-top="transform:translateY(0%) rotate(-3deg);">
//             <img class="shadow" src="/images/home/ishadow.png" height="60" width="919" alt="">
//         </div>
//     </div>
// </section>
//</div>
//
// Styleguide 1.2
.section-heading {
    text-align: center;
    margin: 0 0 30px;
    font-size: 18px;
    line-height: 1.22;
    color: #9297a3;
}
.section-heading:before {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: #25aae2;
    margin: 0 auto 10px;
}
.section-heading h2 {
    margin: 0 0 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #333743;
}
h2, .h2 {
    font-size: 64px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: #666;
}
p {
    margin: 0 0 11.5px;
}
